


{% block callback %}
        <section class="order">
            <div class="container">
                <div class="hidenn">
                    <form id="callback" method="post">
                        {% csrf_token %}
                        {#    {% bootstrap_form form %}#}
                        {{ form.non_field_errors }}
                            <h2>Замовити зворотній звязок</h2>

                        <div class="form-group row">
                                <label class="col-sm-5 col-form-label" for="inputName3">Імя:</label>
                                <div class="col-sm-6">
                                    {{ form.name.errors }}
                                    {#{{ form.name }}#}
                                    <input class="form-control" type="text" name="name" id="name" placeholder="Ваше  імя" required/>
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-5 col-form-label" for="inputPassword3">Телефон:</label>
                                <div class="col-sm-6">
                                    {{ form.phon.errors }}
                                    {#{{ form.phon }}#}
                                    <input class="form-control" type="text" name="phone" id="phone" placeholder="Ваш телефон" required/>
                                </div>
                        </div>

                         <div class="form-group row">
                                <label class="col-sm-5 col-form-label" for="inputPassword3">Емейл::</label>
                                <div class="col-sm-6">
                                    {{ form.email.errors }}
                                    {#{{ form.email }}#}
                                    <input class="form-control" type="text" name="text" id="text" placeholder="Ваш емейл" required/>
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-5 col-form-label" for="inputPassword3">Повідомлення:</label>
                                <div class="col-sm-6">
                                    {{ form.message.errors }}
                                    {#{{ form.message }}#}
                                    <input class="form-control" type="text" name="text" id="text" placeholder="Ваше повідомлення" required/>
                                </div>
                        </div>

                        <div class="form-group row">
                                <label class="col-sm-5 col-form-label" for="inputPassword3">Повідомлення:</label>
                                <div class="col-sm-6">
                                    {{ form.message.errors }}
                                    {#{{ form.message }}#}
                                    <input class="form-control" type="text" name="text" id="text" placeholder="Ваше повідомлення" required/>
                                </div>
                        </div>

                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <input class="btr btn-primary" type="submit" value="Відправити">
                        </div>
                        <div class="col-sm-4"></div>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}

