{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>42 Coffee Cups Test Assignment</title>
</head>

    <!-- Bootstrap core CSS js-->
    <link href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}" rel="stylesheet">
    <link href="{% static 'libs/fancybox/jquery.fancybox.css' %}" rel="stylesheet">

    <!--<link href="{% static 'admin/css/forms.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'admin/css/base.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'admin/css/widgets.css' %}" type="text/css" media="all" rel="stylesheet" /> -->

<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <!--<div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Головна</a>
              <a class="navbar-brand" href="/about_us/">Про нас</a>
            </div> -->
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!--<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Структура організації<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/consultants/">Консультанти</a></li>
                    <li><a href="/cell/">Осередки</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Партнерство<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href=/fpartners/>Закордонні парнери</a></li>
                    <li><a href="/dpartners/">Внутрішні партнери</a></li>
                  </ul>
                </li>
                <li><a href="/press/">Для преси</a></li>
                <li><a href="/contacts/">Контакти</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
                <li><a href="/">Головна</a></li>
                <li><a  href="/auth/register/">Реєстрація</a></li>
                <li>{% if username %}
                        <a href="/auth/logout/">Вихід({{ username }})</a>
                    {% else %}
                        <a href="/auth/login/">Вхід</a>
                    {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

<div class="container">

    <section class="order">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {% block login %}{% endblock %}
                    {% block register %}{% endblock %}

                </div>
            </div>
        </div>
    </section>


            {% block contacts %}{% endblock %}
            {% block edit %}{% endblock %}

    <section class="order">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h1>Відправка простих форм AJAX</h1>
                </div>
                <div class="col-md-6">
                     <div class="sell-right">
                         <h1><p><a class="btn btn-primary fancybox" href="#callback" role="button">Замовити зворотній дзвінок</a></p></h1>
                     </div>
                </div>
            </div>
        </div>
    </section>


    <section class="order">
        <div class="container">
            <div class="row">
                <div class="col-md-12  blog-sidebar">
                    <hr>
                    {% block content %}{% endblock %}
                    <hr>
                </div>
            </div>
        </div>
    </section>

        <section class="order">
            <div class="container">
                <div class="hidden">
                    <form id="callback" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                           <h2>Замовити зворотній звязок</h2>

                        <div class="form-group row">
                                    {{ form.name.errors }}
                                <label class="col-sm-5 col-form-label" for="inputName3">Імя:</label>
                                <div class="col-sm-6">
                                    {{ form.name }}
                                    <input class="form-control" type="text" name="name" id="name" placeholder="Ваше  імя" required/>
                                </div>
                        </div>

                        <div class="form-group row">
                                    {{ form.phon.errors }}
                                <label class="col-sm-5 col-form-label" for="inputPhone3">Телефон:</label>
                                <div class="col-sm-6">
                                    {{ form.phon }}
                                    <input class="form-control" type="text" name="phone" id="phone" placeholder="Ваш телефон" required/>
                                </div>
                        </div>

                         <div class="form-group row">
                                    {{ form.email.errors }}
                                <label class="col-sm-5 col-form-label" for="inputEmail3">Емейл:</label>
                                <div class="col-sm-6">
                                    {{ form.email }}
                                    <input class="form-control" type="email" name="text" id="email" placeholder="Ваш емейл" required/>
                                </div>
                        </div>

                        <div class="form-group row">
                                    {{ form.message.errors }}
                                <label class="col-sm-5 col-form-label" for="inputText3">Повідомлення:</label>
                                <div class="col-sm-6">
                                    {{ form.message }}
                                    <input class="form-control" type="text" name="text" id="text" placeholder="Ваше повідомлення" required/>
                                </div>
                        </div>

                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <input class="btr btn-primary" type="submit" value="Відправити">
                        </div>
                        <div class="col-sm-4"></div>
                    </form>
                </div>
            </div>
        </section>

</div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/fancybox/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/owl-carousel/owl.carousel.js' %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="/my_admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/admin/js/core.js"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>



<!-- <script type="text/javascript">

    $(document).on('submit', '#new_user_form', function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url:'/user/create/',
            date:{
                name:$('#name').val(),
                email:$('#email').val(),
                password:$('#password').val()
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            }
            success:function () {
                alert('Created New User!')

            }
        });

    });
</script> -->
    <head>
        <script type="text/javascript">
            $(document).ready(function() {
                //Попап менеджер FancyBox
                //Документация: http://fancybox.net/howto
                //<a class="fancybox"><img src="image.jpg" /></a>
                //<a class="fancybox" data-fancybox-group="group"><img src="image.jpg" /></a>
                $(".fancybox").fancybox();


                //Аякс отправка форм
                //Документация: http://api.jquery.com/jquery.ajax/
                $("#callback").submit(function() {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'callback' %}",
                        data: $("form").serialize()
                    }).done(function() {
                        alert("Дякуємо за заявку!");
                        setTimeout(function() {
                            $.fancybox.close();
                        }, 1000);
                    });
                    return false;
                });
            });
        </script>
    </head>


</body>
</html>